@using System.Globalization
@using Client.Translations
@using Microsoft.Extensions.Localization
@using MudBlazor
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inherits LayoutComponentBase

@inject IStringLocalizer<Dictionary> Localizer

<PageTitle>@Localizer[nameof(Dictionary.AppTitle)]</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="topbar">
        <div class="language-switcher" @onclick="ToggleLanguage">
            <p>@DisplayName</p>
            <MudBlazor.MudIcon Icon="@Icons.Material.Rounded.Language" Style="width: 24px; height: 24px" />
        </div>
    </div>

    <main>
        @Body
    </main>
</div>

@code {
    private CultureInfo[] _availableCultures = [new CultureInfo("en-US"), new CultureInfo("fr-FR")];
    public CultureInfo SelectedCulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture == value) return;
            LocalStorage.SetItemAsStringAsync("BlazorCulture", value.Name);
            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }
    public String DisplayName => SelectedCulture.Equals(new CultureInfo("en-US")) ? "English" : "Français";

    private void ToggleLanguage()
    {
        SelectedCulture = SelectedCulture.Name == "en-US" ? new CultureInfo("fr-FR") : new CultureInfo("en-US");
    }
}
