@using System.Globalization
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager Navigation
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div>
            <label>Culture:</label>
            <select @bind="SelectedCulture">
                @foreach (var culture in _availableCultures)
                {
                    <option value="@culture">@culture.DisplayName</option>
                }
            </select>

        </div>

        <article>
            @Body
        </article>
    </main>
</div>

@code {
    private CultureInfo[] _availableCultures = [new CultureInfo("en-US"), new CultureInfo("fr-FR")];
    public CultureInfo SelectedCulture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture == value) return;
            LocalStorage.SetItemAsStringAsync("BlazorCulture", value.Name);
            Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
        }
    }
}
