.nav-item {
    margin: 2rem 1rem;
    padding : 1rem;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #ccc;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.nav-item ::deep a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.nav-item:hover {
    border-bottom-color: black;
}

.nav-item:hover ::deep a {
    color: black;
}

.nav-link div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-link div p {
    margin: 0;
    margin-left: 1rem;
}

