@page "/"
@using Client.Translations
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Dictionary> Localizer

<PageTitle>@Localizer[nameof(Dictionary.AppTitle)]</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
