@page "/vehicle"
@using Client.Services
@using Shared
@inject IVehicleService VehicleService


@if (vehicles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {
                <tr>
                    <td>@vehicle.VehicleModel.Brand</td>
                    <td>@vehicle.VehicleModel.Model</td>
                    <td>@vehicle.LicensePlate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Shared.ApiModels.Vehicle[]? vehicles;

    protected override async Task OnInitializedAsync()
    {
        vehicles = await VehicleService.GetVehicles();
    }
}