.container {
    background-color: lightsteelblue;
    width: 85%;
    height: 85%;
    border-radius: 10px;
}

.popin {
    background-color: #cececed6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.maintenance-popin {
    z-index: 100;
    background-color: unset;
}

.popin-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}

.popin-title {
    font-size: 20px;
    font-weight: bold;
    height: 10%;
}

.popin-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popin-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.form-group label {
    margin-bottom: 5px;
    margin-right: 10px;
    width: 30%;
    text-align: right;
}

.form-group input, .form-group select, .form-group textarea {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #cecece;
    width: 70%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.add-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.table-wrapper {
    overflow-x: auto;
    height: 800px;
    width: 80%;
}

.mainteance-tabble-wrapper {
    height: 350px;
}

.table {
    width: 100%;
}

.table thead {
    background-color: #cecece;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #cecece;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.detail-content {
    display: flex;
    flex-direction: row;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 500px;
    border: 1px solid lightgray;
    margin: 0 20px;
    border-radius: 10px;
}


.left-part .info-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 20%;
}

.left-part .info-group .label {
    font-weight: bold;
    width: 40%;
    text-align: right;
}

.left-part .info-group .value {
    width: 60%;
    text-align: left;
    padding-left: 10px;
}


.right-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    height: 500px;
    border: 1px solid lightgray;
    margin: 0 20px;
    border-radius: 10px;
    position: relative;
}

.right-part p.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.add-maintenace-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
