@page "/vehicle"
@using Client.Services
@inject IVehicleService VehicleService

<div class="container">
@if (IsInitialized == false)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Immatriculation</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var vehicle in _vehicles)
        {
            <tr>
                <td>@vehicle.VehicleModel?.Brand</td>
                <td>@vehicle.VehicleModel?.Model</td>
                <td>@vehicle.LicensePlate</td>
            </tr>
        }
        </tbody>
    </table>
 
}
</div>

@code {
    private bool IsInitialized { get; set; }
    private Shared.ApiModels.Vehicle[] _vehicles = null!;

    protected override async Task OnInitializedAsync()
    {
        _vehicles = await VehicleService.GetVehicles();
        IsInitialized = true;
    }
}